.go {
    margin: 1em;
    padding: 2em;
    border: darkgrey solid 2px;
    background-color: bisque;
}

div {
    margin: 1em;
}

a {
    display: inline-block;
  }
  
  .box {
    display: none;
    width: 200px;
    height: 200px;
    line-height: 200px;
    padding: 1em;
    background-color: pink;
  }
  
  .button {
    width: 200px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1em;
    background-color: azure;
  }

  .ajaxDisappear{
    display: none;
  }